@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body {
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
}
body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
header[role=banner] {
    position: relative;
    color: #fff;
    background: #343642;
    z-index: 2;
}
.header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
.pancard_list_wrapper {
  display: flex;
  height: 100%;
}
.pancard_list {
  padding: 100px 0px;
}
/*index file*/
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload_label figure {
    width: 70px;
    height: 70px;
}
.upload_label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}
.inputfile + label {
  cursor: pointer;
}
.main_section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  padding: 50px 0px;
}
.previewHere img {
  width: 400px;
}
.upload_label {
  width: 100%;
  height: 100px;
  border: dashed 2px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/*** Table Styles **/
.table-fill {
  background: #f2f2f2;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding: 5px;
  width: 100%;
}

th {
  color:#D5DDE5;;
  background:#343642;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}
.table-mini th {
  background: #f2f2f2;
  color: #343642;
  padding: 10px 24px;
  font-weight: 400;
  border: none;
  text-shadow: none;
}
.table-mini tr {
  border-top: 1px solid #f7f7f7;
}
.table-mini-head {
  border: none !important;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  color:#666B85;
  font-size:16px;
  font-weight:normal;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
.feedback-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.panSubmit,
#my_camera {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panSubmit button {
  margin: 0px 5px;
  cursor: pointer;
}
.client_upload {
  width: 30%;
}
.server_details {
  width: 40%;
}
.status {
  width: 15%;
}
.table-mini tr td {
  text-align: center;
}
.single-list > td {
  padding: 50px 0px;
}
.pancard_list_wrapper {
  animation-duration: 1s;
  animation-delay: 0.1s;
}
.baseimage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#results,
#captureCanvas {
  transition: all 500ms linear;
}
/*custom form elements*/
.btn_app {
    color: #343642;
    background: #fff;
    width: 160px;
    height: 53px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid #343642;
    transition: all 300ms ease 0s;
}
.btn_app:hover {
    background: #343642;
    color: #fff;
    transition: all 300ms ease 0s;
}
@media screen and (max-width: 768px) {
  .container {
      max-width: 95%;
  }
}
@media screen and (min-width: 1600px) {
  .main_section {
    align-items: flex-start;
  }
}